.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.hiddenLayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.finalLayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.nodeDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.finalNode {
    display: flex;
    align-items: center;
    gap: 15px;
}