* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
}

.grid {
    display: grid;
    grid-template-areas:
    'title network'
    'canvas network';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 3rem;
    width: 100vw;
}

.title {
    grid-area: title;
    color: #FFFFFF;
    text-align: center;
}
.title h1 {
    font-family: "Geist", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color: #FFFFFF;
}

.canvas {
    grid-area: canvas;
}

.network {
    grid-area: network;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer {
    font-family: monospace;
    font-weight: bold;
    font-size: 1rem;
    color: #FFFFFF;
    text-align: center;
    background: linear-gradient(to bottom, #151616, #000000);
    width: 100vw;
    border-top: 1px solid #858585;
    padding: 2rem 0;
}

@media only screen and (max-width: 600px) {
    .grid {
        display: grid;
        grid-template-areas:
        'title'
        'canvas'
        'network';
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 0.5rem;
    }
}