* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
}

.grid {
    display: grid;
    grid-template-areas:
    'title title'
    'canvas network'
    'footer footer';
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 10vh 1fr 8vh;
    width: 100vw;
    height: 100vh;
}

.title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h1 {
    font-family: "Geist", sans-serif;
    font-weight: 900;
    font-size: clamp(1.5rem, 5vw, 5rem);
    color: #FFFFFF;
}

.canvas {
    grid-area: canvas;
}

.network {
    grid-area: network;
    background-color: green;
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; */
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-weight: bold;
    font-size: clamp(0.8rem, 1vw, 1.5rem);
    color: #FFFFFF;
    background: linear-gradient(to bottom, #151616, #000000);
    border-top: 1px solid #858585;
}

@media only screen and (max-width: 600px) {
    .grid {
        display: grid;
        grid-template-areas:
        'title'
        'network'
        'canvas'
        'footer';
        grid-template-columns: auto;
        grid-template-rows: 10vh 1.5fr 1fr 10vh;
        width: 100vw;
        height: 100vh;
    }
}